.header {
	width: 100%;
	text-align: center;
	background-color: #1c1c21;
}

.navbar {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	max-width: 1280px;
	margin: 0 auto;
}

.menu__list {
	display: flex;
	flex: 0 1 33.3%;
	flex-direction: row;
	justify-content: flex-start;
	gap: 8px;
	padding: 0;
}

.menu__list:last-child {
	justify-content: flex-end;
}

.menu__item {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 8px;
	margin: 0;
}
