.orders__container {
	display: flex;
	flex-direction: column;
	width: 600px;
}

.orders__scroll {
	max-height: 50vh;
	overflow-y: auto;
	text-align: left;
}

.link {
	color: #ffffff;
	text-decoration: none;
}

.link:hover,
.active:hover {
	color: #ffffff;
}
