.info__container {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	text-align: start;
}

.info__block {
	flex: 0 1 50%;
}

.flex__block {
	display: flex;
	flex-direction: row;
}

.text__green {
	color: #00cccc;
}
