.feed_container {
	max-width: 1240px;
	height: calc(100vh - 88px);
	margin: 0 auto;
}

.feed__body {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.feed__header {
	width: 100%;
	text-align: start;
}

.feed__column {
	flex: 0 1 50%;
	width: 100%;
}

.feed__scroll {
	max-height: 80vh;
	overflow-y: auto;
}

.link {
	color: #ffffff;
	text-decoration: none;
}

.link:hover,
.active:hover {
	color: #ffffff;
}
