.burger__constructor {
	display: flex;
	flex: 0 1 50%;
	flex-direction: column;
}

.order__list {
	display: flex;
	flex-direction: column;
	gap: 16px;
	height: calc(100vh - 492px);
	padding: 0;
	overflow-y: scroll;
	list-style: none;
	scrollbar-color: #8585ad #2f2f37;
	scrollbar-width: thin;
	margin: 16px 0 16px 0;
}


.startend__element {
	margin: 0 16px 0 32px;
}


.order__submit {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
	gap: 40px;
	text-align: left;
}

.item__price {
	display: flex;
	align-items: center;
	gap: 8px;
}

.emptyburger__top {
    background-color: #1C1C21;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
	margin: 0 32px 0 32px;
	padding: 28px 10px;
}

.emptyburger__bottom {
    background-color: #1C1C21;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
	margin: 0 32px 0 32px;
	padding: 28px 10px;
}

.empty__order {
    background-color: #1C1C21;
	border-radius: 20px;
	margin: 10px 32px 10px 32px;
	height: calc(100vh - 492px);
	padding: 50px 10px;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.drop__bun {
	opacity: 0.6;
	border: 2px solid #8585AD;
}

.over__bun {
	opacity: 0.6;
	border: 2px dashed #8585AD;
}

.drop__ingredient {
	opacity: 0.6;
	border: 2px solid #8585AD;
}

.over__ingredient {
	opacity: 0.6;
	border: 2px dashed #8585AD;
}