.app {
	text-align: center;
}

.main__block {
	display: flex;
	flex-direction: row;
	gap: 40px;
	max-width: 1240px;
	height: calc(100vh - 88px);
	margin: 0 auto;
}

@media (width <= 1280px) {
	.main__block {
		flex-direction: column;
		max-width: 660px;
		height: auto;
	}
}

.whole__screen {
	height: calc(100vh - 88px);
	display: flex;
	justify-content: center;
	align-items: center;
}